* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Leckerli One', cursive;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: transparent;
}

/* Colors and fonts

font-family: 'Leckerli One', cursive; // font
background-color: rgb(255, 102, 2) // orange fill
background-color: #fafafa; // background undernav/footer nav
color: #777; // font color nav

*/

/* Start Navbar */
/* .navbar li a {
  border-radius: 10px 10px 10px 40px;
} */

.cross-logo {
  max-width: 30px;
  max-height: 30px;
  float: left;
}

.cross-logotype {
  float: left;
  padding-top: 5px;
  padding-left: 5px;
}

a.navbar-brand {
  padding: 10px 10px;
}

.navbar {
  border-radius: 0;
  border-bottom: 3px solid rgb(255, 102, 2);
  margin-bottom: 0px;
}

.navbar-default .navbar-brand {
  color: rgb(255, 102, 2);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: rgb(255, 102, 2);
  font-weight: 900;
}

.caret {
  margin-left: 10px;
}
/* End Navbar */

/* Start under navbar */

.undernav {
  margin-top: 50px;
  height: 40px;
  width: 100%;
  background-color: #fafafa;
  text-align: center;
  position: fixed;
  z-index: 100;
}

.col-md-2 {
  margin-top: 13px;
  color: rgb(255, 102, 2);
}

.fa-car,
.fa-print,
.fa-file-text-o,
.fa-map-marker {
  margin-right: 5px;
}

.undernav a {
  text-decoration: none;
  color: rgb(255, 102, 2);
}

/* End under navbar */

/* Start Modal */
/* SISTEMARE L'HOVER DEL BUTTON SIGN-IN E PERSONALIZZARE IL MODAL */

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
}

.btn-primary {
  color: rgb(255, 102, 2);
  background-color: transparent;
  border-color: transparent;
}

.fa-search {
  transform: scale(1.3);
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 6px;
  margin-right: 5px;
}

.btn:hover {
  background-color: transparent;
  border-color: transparent;
  color: rgb(255, 102, 2);
}

.btn:focus {
  color: rgb(255, 102, 2);
}

.modal-content {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  text-align: center;
  background-color: rgb(255, 102, 2);
}

input {
  width: 250px;
  border-radius: 5px;
}

.well-cont {
  width: 500px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
/* 
@media (max-width: 400px) {
  .modal-content {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    text-align: center;
    background-color: rgb(255, 102, 2);
  }

  input {
    width: 150px;
    border-radius: 5px;
  }

  .well-cont {
    width: 200px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
  }
} 
*/

.lgn {
  color: black;
  text-decoration: none;
}

.lgn:hover {
  color: black;
  text-decoration: none;
}

.lgn-msg {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
  background-color: transparent;
  border-color: transparent;
}

/* End Modal */

/* Start Carousel */

.carousel-inner {
  height: 650px;
  border-bottom: 3px solid rgb(255, 102, 2);
}

.carousel-indicators li {
  width: 50px;
  height: 5px;
  border: 3px solid rgb(255, 102, 2);
}

.carousel-indicators .active {
  background-color: rgb(255, 102, 2);
  border-color: rgb(255, 102, 2);
  width: 50px;
}

.img-crs {
  position: relative;
  top: -70px;
}

.glyphicon {
  color: rgb(255, 102, 2);
  position: relative;
  top: 3px;
}

/* End Carousel */

/* start Mid-Container */

.row-container {
  width: 100%;
  height: 250px;
}

.row-container > .col-md-12 > .col-md-4 {
  height: 250px;
  padding: 10px;
  text-align: center;
}

.row-container > .col-md-12 {
  padding-left: 0;
  padding-right: 0;
  max-height: 250px;
}

.img-cont {
  width: 200px;
  height: 200px;
}

/* End Mid Container */

/* start divider 1 */

.divider1 {
  height: 40px;
  width: 100%;
}

.more-to-know {
  text-align: center;
}

/* end divider 1 */

/* start mid-2-container */

.mid-2-container {
  height: 500px;
  width: 100%;
}

.row-container2 {
  height: 500px;
}

#md-12-mid2-container {
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

#md-4-mid2-container {
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

#md-4-mid2-container {
  /* max-height: 400px;
  max-width: 400px; */
  /* height: 320px;
  width: 350px; */
  margin-top: 5%;
  padding-left: 2%;
}

#md-8-mid2-container {
  height: auto;
  margin: 0;
  padding: 0;
}

.form-test-drive {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #fafafa;
}

.titolo-test-drive {
  margin-bottom: 25px;
  text-align: center;
  color: rgb(255, 102, 2);
}

.btn-test-drive {
  float: right;
  background-color: transparent;
  border: transparent;
  color: rgb(255, 102, 2);
  font-size: 25px;
  margin-bottom: 20px;
}

/* End mid-2-container */

/*start mid-3-container */

.mid-3-container {
  height: 300px;
  width: 100%;
}

/* Start Footer */

.bottom {
  background-color: #fafafa;
}
.bottom .copyright {
  color: #e5e5e5;
  font-weight: 600;
}
.copyright a {
  color: #f2ff49;
  margin-left: 3px;
  padding-right: 3px;
}
.bottom p {
  margin-bottom: 0;
  line-height: 50px;
  font-size: 16px;
  font-weight: 400;
}
.copyright p span {
  color: #777;
}
.bottom .copyright p,
.bottom .copyright a:hover {
  color: #777;
}

.copyright a {
  color: rgb(255, 102, 2);
  font-size: 20px;
}

/* End Footer */
